@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
h1,
h3 {
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
